<?xml version="1.0"?>

<config>
    <modules>
        <YappyBuy_Checkout>
            <version>0.1.0</version>
        </YappyBuy_Checkout>
    </modules>
    <frontend>
        <translate>
            <modules>
                <YappyBuy_Checkout>
                    <files>
                        <default>YappyBuy_Checkout.csv</default>
                    </files>
                </YappyBuy_Checkout>
            </modules>
        </translate>
        <routers>
            <YappyBuy_Checkout>
                <use>standard</use>
                <args>
                    <module>YappyBuy_Checkout</module>
                    <frontName>yb_checkout</frontName> 
                </args>
            </YappyBuy_Checkout>
        </routers>			
        <layout>
            <updates>
                <YappyBuy_Checkout>
                    <file>yappybuy.xml</file>
                </YappyBuy_Checkout>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <YappyBuy_Checkout>
                    <files>
                        <default>YappyBuy_Checkout.csv</default>
                    </files>
                </YappyBuy_Checkout>
            </modules>
        </translate>        
        <layout>
            <updates>
                <YappyBuy_Checkout>
                    <file>yappybuy.xml</file>
                </YappyBuy_Checkout>
            </updates>
        </layout>		
        <acl>
			<resources>
				<all>
		            <title>Allow Everything</title>
	            </all>
	            <admin>
	                <children>
	                    <system>
	                        <children>
	                            <config>
	                                <children>
	                                    <yappyBuy translate="title"  module="ybcheckout">
	                                        <title>yappyBuy Checkout</title>
	                                    </yappyBuy>
	                                </children>
	                            </config>
	                        </children>
	                    </system>	                    
		      		</children>
	            </admin>
	        </resources>
	    </acl> 		
    </adminhtml>
    <global>
        <blocks>
            <ybcheckout>
                <class>YappyBuy_Checkout_Block</class>
            </ybcheckout>
        </blocks>
		<models>
            <ybcheckout>
                <class>YappyBuy_Checkout_Model</class>
            </ybcheckout>		
			<checkout>
               <rewrite>                   
                   <cart_api>YappyBuy_Checkout_Model_Api</cart_api> 
				 </rewrite>
				 <!--rewrite>
				   <cart_api_v2>YappyBuy_Checkout_Model_Api_V2</cart_api_v2>
               </rewrite-->
           </checkout>		
		</models>
		<helpers>
            <ybcheckout>
                <class>YappyBuy_Checkout_Helper</class>
            </ybcheckout>
        </helpers>
    </global>
	<default>
		<yappyBuy>
			<design>
				<label>Eazy Checkout</label>
				<quickLabel>Buy now</quickLabel>
				<background>#882898</background>
				<foreground>#FFFFFF</foreground>
				<width>256</width>
				<radius>10</radius>  			
			</design>
		</yappyBuy>
		<payment>
            <yappybuy>
                <active>1</active>
                <model>ybcheckout/method_yappybuy</model>
                <order_status>pending</order_status>
                <title>yappyBuy Checkout</title>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <group>offline</group>
            </yappybuy>		
		</payment>
	</default>	
</config>
